
/* initial setting for page */
body, html {
  height: 100%;
}

/* footer section */

.contact {
  padding-top: 30px;
  text-align: center;
  display: flex;
  justify-content: center;
}


/* style footer buttons */

.btn {
  background-color: transparent;
  border: none;
  color: black;
  padding: 12px 16px;
  font-size: 1.2rem;
  cursor: pointer;
}

/* chenge text color on mouse-over */
.btn:hover {
  color: pink;
}

.copy-right {
  display: block;
  color: black;
  font-size: 0.8rem;
  padding: 15px 0;
}

/* Navbar styling */
.navbar {
  background-color:aliceblue;
  position: relative;
  padding: 0 0 4.5rem;
  padding-bottom: 0;
  
} 

/* navbar sticky not working */
.nav-list {
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: sticky;
  top:0;
}


li a {
  position: relative;
  display: flex;
  color: darkslategrey;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: 'Great Vibes', cursive;
  font-size: 30px;
}

li a:hover {
  color: aqua;
}

/* navbar & footer mobile layout */

@media screen and (max-width: 414px) {
  .nav-list {
    flex-direction: column;
  }

  .home-title {
      display: flex;
      
    }
 
  li a {
      padding: 14px 16px;
      font-size: 15px;
    }

  footer {
    width: auto;
  }
}

/******** --------Page1-home page css style------ ********/

/* navbar color purple in current page */
#page1 .nav-link1 {
  color: purple;
  
}


/* body section */

/* Background image style  */

body, html {
  height: 100%;
  margin: 0;
}

#page1 .home-title {
  background-color:aliceblue;
  display: flex;
  position: relative;

}

#page1 .home-text {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto 10px auto;
}


/* Title section  */


/* images */

#page1 .home-title-image {
  width: 50%;
  margin: 70px 20px 70px 20px;
  text-align: left;
}



  h1 {
    color: black;
    font-family: 'Great Vibes', cursive;
    font-size: 4rem;
    text-align: center;

  }
  
  p {
    font-family: 'Nunito', sans-serif;
    text-align: center;
    font-size: 1.5rem;
  }
  
.title-contants {
  padding: 160px;
  width: 40%;
  margin-left: 300px;
  
}


/* Main section */

.main-section-title {
  margin-top: 0;
  display: relative;
  padding-top: 40px;
}

/* main section background style  */
.main-section {
  margin:0;
  padding: 0;
  /* min-height: 100vh; */
  background-image: url("images/main-section\ image.jpg");
  height: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

/* main section cards styling  */
.main-section-card {
  box-sizing: border-box;
  /* (set 100% of the viewpoint hight) */
  display: flex;
  justify-content: center;
  align-items: center;
  /* make sure cards are multi-lined within the contanier  */
  flex-wrap: wrap;
  /* place cards on top ??? */
  z-index: 1;
}

.main-section-card .card {
  font-family: 'Nunito', sans-serif;
  position: relative;
  width: 280px;
  height: 400px;

  /* rgba adjust color and opacity is 0.1, */
  background-color: rgba(255,255,255,0.1);
  margin: 30px;
  border-radius: 15px;
  /* shadow setting */
  box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
  /* hide the text outside of the card, the default of overflow is visible */
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid rgba(255,255,255,0.1);
  border-left: 1px solid rgba(255,255,255,0.1);
  backdrop-filter: blur(5px);

}

.main-section-card .card:hover .content {
  transform: translateY(0);
  opacity: 1;
}

.main-section-card .card .content {
  padding: 20px;
  text-align: center;
  /* when cuser moving down, the card is hiden */
  transform: translateY(100px);
  opacity: 0;
  transition: 0.5s;
}

/* when hover to card, showing the content */
.card:hover {
  transform: translateY(0);
  opacity: 1;
}

.main-section-card .card .content h2 {
  font-size: 28px;
  color: aliceblue;
}

.main-section-card .card .content p {
  font-size: 14px;
  color: black;
  margin: 10px 0 15px 0;

}

.main-section-card .card .content a {
  color: aliceblue;
  position: relative;
  display: inline-block;
  padding: 8px 20px;
  margin-top: 60px;
  background-color: grey;
  text-decoration: none;
  border-radius: 15px;
  font-weight: 300;
}

/* mobile view of home page */

@media screen and (max-width: 414px) {
  .home-title {
      display: flex;
      position: relative;
      flex-direction: column;
      align-items: center;
      
    }
 
  #page1 h1 {
      font-size: 2rem;
  } 

  #page1 p {
    font-size: 0.75rem;
  }

  .home-title-image {
    width: 70%;
  }
}



 /******** --------Page2- About page css style------ ********/

 /* hilight current page name in navbar */
 #page2 .nav-link2 {
  color: purple;
  
}


/* background styling */
.about-content {
  margin: 0 0 40px 0;
  padding-top: 50px;
  padding-bottom: 60px;
  background-image: url("images/main-section\ image.jpg");
  height: auto;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  /* about page: cards styling */
  box-sizing: border-box;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;


 }  


.about-content .about-cards {
  position: relative;
  width: 400px;
  height: 450px;
  box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
  transition: 0.5s;
}

.about-content .about-cards .about-card-detail h2 {
  font-family: 'Great Vibes', cursive;
  font-size: 28px;
  color: aliceblue;
  text-align: center;
}

.about-content .about-cards .about-card-detail p {
  font-size: 15px;
   margin: 10px 0 15px 0;
}

.about-cards:hover {
  transform: translate(20px);

}

footer {
  padding-top: 30px;
}

/* mobile view of About page */

@media screen and (max-width: 414px) {
  .about-content .about-cards  {
      padding: 0 20px 20px 20px;
      margin-bottom: 30px;
 
    }
    

}


 /******** --------Page3- Blog page css style------ ********/

 /* hilight current page name in navbar */
 #page3 .nav-link3 {
  color: purple;
  
}

/* background styling */

#page3 .navbar {
  background-image: url("images/main-section\ image.jpg");
  background-position: center;
  background-size: cover;
}

#page3 {
  background-color:aliceblue;
  margin:0;
  padding: 0;
  
 }  


#page3 .blog-header {
  font-size: 0.6rem;
  margin: 0;
  padding: 20px 0 0;
}

/* artical styling  */
#page3 .blog-image {
  margin-top: 20px;
  margin-left: 70px;
  width: 60%;
  height: auto;
  

}
 
#page3 .blog-list {
  margin-top: 20px;
  padding-bottom: 40px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  flex-wrap: wrap;
  align-content: center;

}

#page3 .blog-list .blog-details {
  position: relative;
  margin-top: 12px;
  position: relative;
  width: 280px;
  height: 370px;
  background-color: lightsteelblue;
  
}

#page3 .blog-section .blog-list .blog-details h2 {
  font-family: 'Great Vibes', cursive;
  font-size: 28px;
  color: aliceblue;
  text-align: center;
}

#page3 .blog-section .blog-list .blog-details p {
   font-size: 12px;
   margin: 10px 0 15px 0;
}

/* mobile laypout of Blog page */

@media screen and (max-width: 414px) {
  #page3 .blog-header  {
    font-size: 0.4rem;

  }

}
 
/******** --------Page4- Contact page css style------ ********/

/* hilight current page name in navbar */
#page4 .nav-link4 {
  color: purple;
  
}

/* page4 background styling */

#page4 {
  margin:0;
  padding: 0;
  min-height: 100vh;
  background-image: url("images/main-section\ image.jpg");
  height: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
 }  

 .contact-content {
   position: relative;
 }

 /* CV dowload button styling */
 #page4 .contact-cv {
   display: flex;
   margin: 0 auto 0;
   padding: 10px 20px;
   font-size: 15px;
   cursor: pointer;
   text-align: center;
   text-decoration: none;
   outline: none;
   background-color:cornflowerblue;
   border: none;
   border-radius: 8px;
   box-shadow: rgba(0,0,0,0.5);
 }

 #page4 .contact-cv:hover {
   background-color: blueviolet;
 } 

 /* hr styling */

hr {
  width: 40%;
  margin: 0 auto 100px;
  color: grey;
  background-color: grey;
  
}

/* contact content styling - h2 & h3 */

 #page4 h2 {
  font-family: 'Nunito', sans-serif;
  text-align: center;
  font-size: 2rem;
 }

 #page4 h3 {
   margin-top: 160px;
  font-family: 'Nunito', sans-serif;
  text-align: center;
  font-size: 1.2rem;
 }

/* conatct list styling */

#page4 .contact-btn, .btn-link {
  text-decoration: none;
  background-color: transparent;
  border: none;
  color: black;
  padding: 12px 16px;
  font-size: 1.2rem;
  cursor: pointer;
}

/* chenge text color on mouse-over */
#page4 .contact-btn, .btn-link:hover {
  color: pink;
}


#page4 .contact-list {
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;

}

/* mobile laypout of Blog page */

@media screen and (max-width: 414px) {
  .contact-list {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    justify-content: center;
  }

}

