/* body section */

/* Background image style  */

body, html {
  height: 100%;
  margin: 0;
}
 
.home-section {
  background-image: url("images/Home\ image.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Navbar */

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
  float:right;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  color: aqua;

}


.navbar {
  position: relative;
  padding: 0 0 4.5rem;
}


/* Title section  */

h1 {
    color: black;
    font-family: 'Great Vibes', cursive;
    font-size: 4rem;
    text-align: center;

  }
  
  p {
    font-family: 'Nunito', sans-serif;
    text-align: center;
    font-size: 1.5rem;
  }
  
.title-contants {
  padding: 160px;
}





  /* footer section */
  
  .contact {
    text-align: center;
    display: flex;
    justify-content: center;
  }
  
  /* not working, find out why */ 
  /* @media screen and (max-width: 414px) {
    .contact {
      flex-direction: column;
    
    } */
  
  /* style buttons */
  
  .btn {
    background-color: transparent;
    border: none;
    color: black;
    padding: 12px 16px;
    font-size: 0.75rem;
    cursor: pointer;
  }
  
  /* chenge text color on mouse-over */
  .btn:hover {
    color: pink;
  }
  
  .copy-right {
    display: block;
    color: #0e9999;
    font-size: 0.9rem;
    padding: 20px 0;
  }
