body, html {
  height: 100%;
}


/* Navbar styling */

.navbar-logo {
  padding-top: 100px;
  padding-left: 80px;
  
}

.name-capital {
  width: 30px;
  height: 30px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position:-webkit-sticky;
  position: sticky;
  top:0;
}

li {
  display: inline;
  float:right;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: 'Great Vibes', cursive;
  font-size: 35px;
}

li a:hover {
  color: aqua;

}


.navbar {
  position: relative;
  padding: 0 0 4.5rem;
}



/* --------Page1-home page css style------ */

/* body section */

/* Background image style  */

body, html {
  height: 100%;
  margin: 0;
}

.home-section {
  background-image: url("images/Home\ image.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}



/* Title section  */

  h1 {
    color: black;
    font-family: 'Great Vibes', cursive;
    font-size: 4rem;
    text-align: center;

  }
  
  p {
    font-family: 'Nunito', sans-serif;
    text-align: center;
    font-size: 1.5rem;
  }
  
.title-contants {
  padding: 160px;
  width: 40%;
  margin-left: 300px;
  
}


/* Main section */

.main-section-title {
  margin-top: 0;
  display: relative;
  padding-top: 40px;
  padding-bottom: 60px;
}

/* main section background style  */
.main-section {
  margin:0;
  padding: 0;
  min-height: 100vh;
  background-image: url("images/main-section\ image.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

/* main section cards styling  */
.main-section-card {
  box-sizing: border-box;
  /* (set 100% of the viewpoint hight) */
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* make sure cards are multi-lined within the contanier  */
  flex-wrap: wrap;
  /* place cards on top ??? */
  z-index: 1;
}

.main-section-card .card {
  font-family: 'Nunito', sans-serif;
  position: relative;
  width: 280px;
  height: 400px;

  /* rgba adjust color and opacity is 0.1, */
  background-color: rgba(255,255,255,0.1);
  margin: 30px;
  border-radius: 15px;
  /* shadow setting */
  box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
  /* hide the text outside of the card, the default of overflow is visible */
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid rgba(255,255,255,0.1);
  border-left: 1px solid rgba(255,255,255,0.1);
  backdrop-filter: blur(5px);

}

.main-section-card .card:hover .content {
  transform: translateY(0);
  opacity: 1;
}

.main-section-card .card .content {
  padding: 20px;
  text-align: center;
  /* when cuser moving down, the card is hiden */
  transform: translateY(100px);
  opacity: 0;
  transition: 0.5s;
}

/* when hover to card, showing the content */
.card:hover {
  transform: translateY(0);
  opacity: 1;
}

.main-section-card .card .content h2 {
  font-size: 28px;
  color: aliceblue;
}

.main-section-card .card .content p {
  font-size: 14px;
  color: black;
  margin: 10px 0 15px 0;

}

.main-section-card .card .content a {
  color: aliceblue;
  position: relative;
  display: inline-block;
  padding: 8px 20px;
  margin-top: 60px;
  background-color: grey;
  text-decoration: none;
  border-radius: 15px;
  font-weight: 300;
}


  /* footer section */


  .contact {
    padding-top: 30px;
    text-align: center;
    display: flex;
    justify-content: center;
  }
  
  /* not working, find out why */ 
  /* @media screen and (max-width: 414px) {
    .contact {
      flex-direction: column;
    
    } */
  
  /* style buttons */
  
  .btn {
    background-color: transparent;
    border: none;
    color: black;
    padding: 12px 16px;
    font-size: 0.75rem;
    cursor: pointer;
  }
  
  /* chenge text color on mouse-over */
  .btn:hover {
    color: pink;
  }
  
  .copy-right {
    display: block;
    color: #0e9999;
    font-size: 0.9rem;
    padding: 20px 0;
  }


 /* --------Page2- About page css style------ */

/* background styling */
 .about-page {
  background-image: url("images/main-section\ image.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


/* about page: cards styling */
.about-content {
  margin-top: 30px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.about-content .about-cards {
  position: relative;
  width: 400px;
  height: 450px;
  box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
  transition: 0.5s;
}

.about-content .about-cards .about-card-detail h2 {
  font-family: 'Great Vibes', cursive;
  font-size: 28px;
  color: aliceblue;
  text-align: center;
}

.about-content .about-cards .about-card-detail p {
  font-size: 15px;
   margin: 10px 0 15px 0;
}

.about-cards:hover {
  transform: translate(20px);

}

footer {
  padding-top: 30px;
}


 /* --------Page3- Blog page css style------ */

/* background styling */
#page3 .navbar {
  background-image: url("images/main-section\ image.jpg");
  height: 100%;
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
}

#page3 .blog-content {
  background-color: blanchedalmond;
  margin: 0;
}

#page3 .blog-header {
  font-size: 0.6rem;
  margin: 0;
  padding: 20px 0 0;
}

/* artical styling  */
#page3 .blog-image {
  margin-top: 20px;
  margin-left: 70px;
  width: 60%;
  height: auto;
  

}
 
#page3 .blog-list {
  margin-top: 20px;
  padding-bottom: 40px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  flex-wrap: wrap;
  align-content: center;
  padd
}

#page3 .blog-list .blog-details {
  position: relative;
  margin-top: 12px;
  position: relative;
  width: 280px;
  height: 370px;
  background-color: grey;
  
}

#page3 .blog-section .blog-list .blog-details h2 {
  font-family: 'Great Vibes', cursive;
  font-size: 28px;
  color: aliceblue;
  text-align: center;
}

#page3 .blog-section .blog-list .blog-details p {
   font-size: 12px;
   margin: 10px 0 15px 0;
}

 
/* --------Page4- Contact page css style------ */
   

 